.main p{border-bottom: 2px solid green;padding-bottom: 8px;text-indent: 20px;}
#main img{margin: 20px;}
.zhong{text-align: center;font-weight: bolder;font-size: 30px;}
.biao{font-size: 20px;font-weight: bolder;border-left:10px solid green;padding-left: 15px;}
p{text-indent: 28px;}
