*{margin: 0;padding: 0;}
ul{list-style-type: none;}
.you{float: left;margin-top: 10px;width: 900px;text-indent: 2em;margin-left: 50px;}
.zuo{float: left;width: 250px;clear: both;}
.b{font-weight: bolder;margin-top: 10px;}
.zuo li{border-left: 10px solid #594529;line-height: 35px;border-bottom: 1px solid white;border-right: 1px solid #594529;}
.zuo a{background: #d9c4a5;display: block;color:white;}
.zuo a:hover{background: #b3964f;}
#z{float: left;overflow: hidden;}
.you img{float: right;overflow: hidden;}
#main{background: white;clear: both;overflow: hidden;}
span{margin-left: 730px;}
.you a:link{color:red;}
