*{margin: 0;padding: 0;}
ul{list-style-type: none;}
#main{background: white;overflow: hidden;}
#main li{width: 200px;float: left;margin: 5px 14px;border: 1px solid lightgrey;padding: 5px;box-shadow: 5px 5px 5px lightgrey;text-align: center;}
#main li {margin: 10px 13px;}
