.travel1{
    background-color: rgb(115, 158, 238);
    width: 300px;
    height: 300px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-image: linear-gradient(to bottom,rgb(184, 200, 230),rgb(174, 78, 30),rgb(238, 34, 34));
    box-shadow: 10px 10px 10px black;
    position: relative;
    top: -315px;
    left: 1100px;
}
.travel2{
    background-color: rgb(115, 158, 238);
    width: 300px;
    height: 300px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-image: linear-gradient(to bottom,rgb(184, 200, 230),rgb(174, 78, 30),rgb(238, 34, 34));
    box-shadow: 10px 10px 10px black;
    position: relative;
    top: -615px;
    left: 70px;
}
.box-information{
    width: 260px;
    height: 5px;
    margin: auto;   /* 盒子在盒子内居中 */
}
.new-information{
    width: 160px;
    height: 60px;
    font-weight: bold;
    font-size: 25px;
    color: rgb(0, 5, 5);
    line-height: 60px;   /* 调整文字在盒子内的行高，也就是距离盒子上边缘的距离 */
    float: left;
}
.more-information{
    font-size: 15px;
    float: right;
    line-height: 60px;   /* 调整文字在盒子内的行高，也就是距离盒子上边缘的距离 */
    text-decoration: none;   /* 取消超链接下划线 */
    color: rgb(77, 59, 59);
}
.box-underline{
    width: 260px;
    height: 5px;
    margin: auto;   /* 盒子在盒子内居中 */
}
.underline1{
    width: 200px;
    height: 5px;
    background-color: rgba(231, 109, 109, 0.471);
    float: right;
}
.underline2{
    width: 60px;
    height: 5px;
    background-color: rgb(203, 26, 26);
    float: left;
}
.box-content{
    padding-top: 70px;
}
.content{
    width: 260px;
    height: 200px;
    list-style-position: inside;
    box-sizing: border-box;
    padding-left: 20px;
    margin-top: 10px;
    overflow: hidden;
    white-space: nowrap;
    margin: auto;   /* 盒子在盒子内居中 */
}
.content a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.content li{
    color: rgb(11, 5, 7);
    line-height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.content a:hover{
    color: rgb(62, 255, 3);
    font-size: 25px;
}