.guide_box{
    width: 1230px;
    height: 380px;
    /* background-color: aquamarine; */
    margin: auto;
    position: relative;
    overflow: hidden;
}
.guide_list{
    width: 1500px;
    /* border: 2px solid; */
    margin-left: -40px;
    display: flex;
    justify-content: space-evenly;   /* 拉手对齐 */
    list-style: none;
    /* 因为是该盒子在移动，所以过渡效果可以加在该盒子中 */
    transition: all 0.5s ease;
  
}

   

.guide_item{
    width: 220px;
    height:380px;
    background-color: rgb(76, 165, 200);
    margin-top: 10px;
}
.icon_left{
    position: absolute;
    top:320px;
    left: 500px;
}
.icon_right{
    position: absolute;
    top: 320px;
    right: 500px;
}
.icon_left img,.icon_right img{
     width: 30px;
}
.move{
    transform: translateX(-245px);
}
/* 结构的代码 */
.guide_list{
    list-style: none;
    display: flex;
}
.guide_item{
    width: 220px;
    height:380px;
    background-color: white;
   
}
.guide_item img{
    width: 220px;
    height:300px;
    object-fit: cover;
}
.guide_text ul {
    width: 90px;
    height: 80px;
    /* background-color: brown; */
    box-sizing: border-box;
    padding:8px;
    margin-right: 20px;
   
}
.guide_text ul li{
 
    list-style-position: inside;
    margin-left: 0px;
    list-style-type: square;
    font-size: 10px;
    color: rgb(22, 155, 207);
    line-height: 20px;
}
.guide_item{
    position: relative;
}
.guide_item .title{
   position: absolute;
   left: 100px;
   top: -10px;
   color: rgb(0, 0, 0);
   font-size: 20px;
   font-weight: bold;
}