*{
	margin: 0px;
	padding: 0px;
}

.sz_logo{
	width: 100%;
	text-align: center;
	margin: 40px 0;
	/* background-color: red; */
}
.sz_logo img{
	width: 80px;
}
.sz_logo h3{
	font-size: 24px;
	letter-spacing: 3px;
}
.sz_video{
	display: block;
	margin: auto;
}

/* 角色日志 */
.sz_about{
	width: 1200px;
	margin: auto;
}
.sz_title h3{
	font-size: 22px;
	margin-bottom: 20px;
	border-left: 5px solid #333;
	padding-left: 5px;
}
.sz_about-box{
	display: flex;
	justify-content: space-between;
	/* background-color: aqua; */
	transition: all 1s ease;

}
.sz_about-box img{
	width: 500px;
	height: 260px;
	object-fit: cover;
}
.sz_about-box img:hover {
    transform: scale(1.2);
    transition: all 1.5s ease;
}

.sz_about-box p{
	width: 650px;
	line-height: 1.8;
	text-indent: 2em;
	margin-bottom: 15px;
	font-size: 16px;
}


/* 家庭关系 */
.jt{
	width: 1200px;
	margin: 20px auto;
	/* background-color: blue; */
}
.jt-box ul{
	display: flex;
	justify-content: space-between;
}
.jt-box ul li{
	list-style: none;
	width: 23%;
}
.jt-box ul li img{
	width: 270px;
	height: 220px;
	border: 1px solid #cccccc;
	display: flex;
}
.jt-box ul li img:hover{
	filter:brightness(0.5)
}

/* 技能招式 */
.sz-box{
	width: 1200px;
	margin: 20px auto;
	/* background-color: red; */
    position: relative;
    overflow: hidden;
}
.sz-box li{
	display: flex;
	justify-content: space-between;
}
.sz-box ul li{
	list-style: none;
	width: 23%;
}
.sz_list .sz_item a {
	font-style: bold;
	color: rgba(0, 0, 0, 0.97);
    text-decoration: none;
}
.sz_list .sz_item a:hover {
	color: rgb(201, 162, 5);
}
.sz-box ul li img{
	width: 100%;
	border: 1px solid #cccccc;
	display: flex;
}
.sz-box ul{
	display: flex;
}